input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    align-content: center;
}

input[type=text]:focus {
    border-color:#333;
    align-content: center;
}

input[type=submit] {
	background-color: white;
	font-family: Courier New;
	font-weight: 600;
	color: #9C9C9C;
	border:2px solid;
	border-color: #cfcfcf;
	border-radius: 5px;
  	padding: 7px 32px;
  	text-align: center;
  	font-size: 16px;
    transition-duration: 0.3s;
    align-content: center;
}

input[type=submit]:hover{
  background-color: #cfcfcf;
  color: white;
  font-family: Courier New;
  font-weight: 600;
  align-content: center;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
}

.button {
  	background-color: white;
	font-family: Courier New;
	font-weight: 600;
	color: #8a8a8a;
	border:2px solid;
	border-color: white;
	border-radius: 5px;
  	padding: 7px 32px;
  	text-align: center;
  	font-size: 16px;
    transition-duration: 0.3s;
    align-content: center;
}

.button:hover{
  background-color: #cfcfcf;	
  border-color: #cfcfcf;
  color: #616161;
  font-family: Courier New;
  font-weight: 600;
  align-content: center;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
}

body {
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.input {
	font-family:  Courier New;
	font-weight: 600;
}